[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
molgenis-py-bbmri-eric = {editable = true, path = "."}
molgenis-py-client = "2.3.1"
requests = "*"

[dev-packages]
pytest = "*"
setuptools = "*"
pytest-cov = "*"
tox = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
